{% extends 'base.html.twig' %}

{% block title %}
{{serie.name}} | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{serie.name}}</h2>
    <div>{{ serie.overview }}</div>
    <div>{{ serie.status }}</div>
    <div>{{ serie.vote }}</div>
    <div>{{ serie.popularity }}</div>
    <div>{{ serie.genres }}</div>
    <div>{{ serie.firstDate|date('Y-m-d') }}</div>
    <div>{{ serie.lastDate|date('Y-m-d') }}</div>
    <div>{{ serie.backdrop }}</div>
    <div>{{ serie.poster }}</div>
    <div>{{ serie.tmdbId }}</div>
    <div>{{ serie.dateCreated|date('Y-m-d') }}</div>
    <div>{{ serie.dateModified|date('Y-m-d') }}</div>

    {# Afficher infos de la série #}
{% endblock %}

